<h1><%= @game.title %></h1>
<div>
    <img src="<%= @game.image %>" alt ="game" style="width:600px;height:600px;">
    <li>Audience Rating:<%= @game.audience_rating %></li>
    <li>Release date:<%= @game.release_date %></li>
    </div>
